<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yet.mapper.ForumConfigMapper">

    <resultMap id="BaseResultMap" type="com.yet.pojo.ForumConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="startAt" column="start_at" jdbcType="TIMESTAMP"/>
            <result property="endAt" column="end_at" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,state,type,
        name,content,start_at,
        end_at,creator,is_delete,
        create_at,update_at
    </sql>
</mapper>
